<% if employee.admin?  %>
  <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium leading-4 bg-pink-100 text-pink-800">
    Admin
  </span>
<% else  %>
  <% if employee.manager?  %>
    <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium leading-4 bg-purple-100 text-purple-800">
      Manager
    </span>
  <% else  %>
    <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium leading-4 bg-yellow-100 text-yellow-800">
      <%= t 'feedbackList.employee' %>
    </span>
  <% end  %>
<% end  %>
