<div class="mt-6">
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    <%= t 'employeeRanking.title' %>
  </h3>
  <%= render 'shared/dashboard/hms/index', hms: @dashboard[:hms], involvement: @dashboard[:involvement] %>
</div>
<%= render 'distribution' %>
<%= render 'trends' %>
