<div class="flex flex-col items-center justify-between">
  <div class="mx-auto w-auto">
    <%= image_tag 'hms-logo-dark.png', alt: 'Happy Mood Score - Happy employees' %>
  </div>
  <div class="flex-1 min-w-0">
    <h1 class="text-2xl font-bold leading-7 text-pink-700 sm:text-3xl sm:leading-9 sm:truncate">
      <%=  t 'pollsIndex.notFound'  %>
    </h1>
  </div>
</div>
