<turbo-frame id="new_company">
  <div>
    <p class="mt-2 font-semibold text-md leading-5 text-teal-700">
    <%= t('signup.linkDelivered') %>
    </p>
    <p class="mt-2 font-semibold text-md leading-5 text-teal-700">
    <%= t('signup.thankYou') %>
    </p>
  </div>
</turbo-frame>
