<li class="py-3">
  <%= link_to new_main_high5_url(receiver_id: employee.id), data: { "turbo-frame": "high5-new" } do %>
    <div class="flex items-center">
      <%= employee_avatar(employee, 'sm') %>
      <p class="ml-4 font-medium text-gray-900">
      <%= employee.name %>
      </p>
    </div>
  <% end %>
</li>
