<div class="mt-6">
  <%= render layout: 'shared/alert_info', locals: { title: t('high5New.giveHigh5'), message: t('high5New.giveHigh5Title') } do %>
    <p><%= t('high5New.selectAColleague') %></p>
  <% end %>
</div>
