<section aria-labelledby="timeline-title" class="lg:w-1/2">
  <div class="bg-white px-4 py-5 shadow sm:rounded-lg sm:px-6">
    <h2 id="timeline-title" class="text-lg font-medium text-gray-900"><%= t 'sideAdmin.feedback' %></h2>
    <div class="mt-6 flow-root">
      <ul>
        <%= render partial: 'admin/notes/vote', collection: @votes %>
      </ul>
    </div>
  </div>
</section>
