  <div class="md:flex md:items-center md:justify-between">
    <div class="flex-1 min-w-0">
      <h2 class="text-2xl font-bold leading-7 text-orange-900 sm:text-3xl sm:leading-9 sm:truncate">
        <%= @employee.name %>
      </h2>
    </div>
    <div class="flex md:mt-0 md:ml-4">
      <div class="mr-4">
        <span class="rounded-md shadow-sm">
          <%= link_to t('employeeRanking.backToDashboard'), main_dashboard_index_url, class: "inline-flex items-center font-medium text-indigo-600 hover:text-indigo-500 transition ease-in-out duration-150" %>
        </span>
      </div>
    </div>
  </div>
  <%= render 'trends', trends: @trends %>
