<div class="mt-6 mx-8 bg-white shadow rounded-sm sm:rounded-lg md:mx-24 lg:mx-36">
  <div class="px-4 py-5 sm:p-6">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
      <%=  t 'voteComment.shareYourIdeas'  %>
    </h3>
    <div class="mt-2 sm:flex sm:items-start sm:justify-between">
      <div class="max-w-xl text-sm leading-5 text-gray-500">
        <p>
        <%=  t 'voteComment.ideasExplanation'  %>.
        </p>
      </div>
      <div class="mt-6 sm:mt-0 sm:ml-6 sm:flex-shrink-0 sm:flex sm:items-center">
        <span class="inline-flex rounded-md shadow-sm">
          <%= link_to login_url, class: "inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-teal-700 bg-teal-100 hover:bg-teal-50 focus:outline-none focus:border-teal-300 focus:shadow-outline-teal active:bg-teal-200 transition ease-in-out duration-150" do %>
            <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor" class="mr-3 h-6 w-6">
              <path d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"> </path>
            </svg>
            <%=  t 'voteComment.shareYourIdeas'  %>
          <% end %>
        </span>
      </div>
    </div>
  </div>
</div>
